@import '../../styles/variables';

.navBarTop {
    height: $top-nav-height;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $beige;
    .logoContainer {
        height: 100%;
        border: 1px solid transparent;
        padding: 2px;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            border-color: $dark-gray;
        }
        .storeLogo {
            height: 100%;
            width: 100%;
            min-width: 130px;
            justify-self: start;
            left: 0;
        }
    }
    .search {
        flex: 1 1 55%;
        display: flex;
        justify-content: center;
    }
    .account {
        height: 100%;
        .accountButton {
            border: 1px solid transparent;
            height: 100%;
            white-space: break-spaces;
            &:hover {
                border: 1px solid $dark-gray;
            }
        }
    }
    .clickBox {
        width: 90px;
        height: 100%;
        align-self: center;
        justify-self: center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border: 1px solid transparent;
        &:hover {
            cursor: pointer;
            border: 1px solid $dark-gray;
        }
        .cart {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .cartTextContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                .cartText {
                    font-weight: bold;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.main {
    height: calc(
        100vh - $bottom-footer-height - $top-nav-height - $tabular-nav-height
    );
}

.footer {
    height: $bottom-footer-height;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $brown;
    p {
        text-align: center;
        color: $white;
    }
}
