@import '../../styles/variables';

.navBarTop {
    margin-top: 3px;
    height: 55px;
    font-size: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $beige;
    .logoContainer {
        height: 100%;
        border: 1px solid transparent;
        padding: 2px;
        box-sizing: border-box;
        &:hover {
            cursor: pointer;
            border-color: $dark-gray;
        }
        .storeLogo {
            height: 100%;
            width: 100%;
            min-width: 130px;
            justify-self: start;
            left: 0;
        }
    }
    .address {
        width: 15%;
    }
    .search {
        flex-grow: 1;
    }
    .clickBox {
        width: 90px;
        height: 100%;
        align-self: center;
        justify-self: center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        &:hover {
            cursor: pointer;
            border-color: $dark-gray;
        }
        .cart {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .cartTextContainer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                .cartText {
                    font-weight: bold;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }
        }
    }
}
