@import '../../../styles/_variables.scss';

.shoppingCartIcon {
    font-size: 2rem !important;
}
.shoppingCartNumber {
    position: absolute;
    top: 2px;
    color: $orange;
    font-weight: bold;
    right: 58px;
}
