// Colors
$orange: #f08804;
$white: #ffffff;
$beige: #EDE8C7;
$brown: #5A3E2C;
$dark-gray: #4A4A4A;
$light-gray: #DDDDDD;
$blue-gray: #4F5F75;
// Layout 
$top-nav-height: 65px;
$bottom-footer-height: 55px;
$tabular-nav-height: 38px;
