@use '../../styles/variables' as *;

.tabNav {
    display: flex;
    height: $tabular-nav-height;
    background-color: $blue-gray;
    justify-content: space-evenly;
    align-items: center;
    .btn {
        color: $white;
        flex: 1 1;
        border-color: $blue-gray;
        white-space: nowrap;
        &:hover {
            border-color: $white;
        }
    }
}
